.container{
    width: 100vw;
    height: 1010px;
    margin: 0; /* Remove as margens padrão */
    padding: 0; /* Remove os preenchimentos padrão */
    box-sizing: border-box; /* Inclui padding e bordas no cálculo da largura */
    background-image: url(../img/Open\ book.png);
    display: flex;
    justify-content: center;
}
.cadastro-box{
    background-color: rgba(0, 0, 0, 0.50);
    border: 5px solid white;
    width: 1300px;
    height: 950px;
    border-radius: 20px;
    margin-top: 35px;
}
.text-sup{
    display: flex;
    margin-top: 10px;
}
.login-page{
    background-color: white;
    color: black;
    border-radius: 30px;
    border: none;
    width: 180px;
    height: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: 25px;
    margin-left: 340px;
    font-size: 18px;
    letter-spacing: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.cadastro-page{
    margin-top: 25px;
    margin-left: 50px;
    background-color: rgba(255, 255, 255, 0);
    width: 180px;
    height: 50px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    border: 0;
    font-size: 20px;
    letter-spacing: 3px;
    display: flex;
    text-align: center;
    align-items: center;
}

#form-cadast > input{
    border-radius: 10px;
    width: 350px;
    height: 35px;
    padding-left: 15px;
    background-color: rgb(224, 224, 224);
    border: 3px solid rgb(65, 65, 65) ;
}

#form-cadast > button{
    border-radius: 10px;
    width: 380px;
    height: 55px;
    border: 3px solid gray;
    background-color: white;
    letter-spacing: 3px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
}
#form-cadast > input::placeholder{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2px;
    color: rgb(65, 65, 65) ;
}
#form-cadast{
    text-align: center;
    margin-left: 580px;
    margin-top: 45px;
    color: white;
    font-size: 25px;
}
#form-cadast > h3 > p{
    margin: 8px;
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.img-form{
    height: 800px;
    width: 800px;
    margin-left: -100px;
    margin-top: 80px;
    position: absolute;
}

.text-sup > h1{
    margin: 0;
    margin-top: 26px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    margin-left: 40px;
    display: flex;
    letter-spacing: 2px;
}
.text-sup > a > h2{
    margin: 0;
    margin-top: 22px;
    color: white;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-left: 10px;
    letter-spacing: 2px;
}
.text-sup > a{
    text-decoration: none;
}
.line-white{
    width: 100px;
    height: 5px;
    background-color: white;
    margin-top: 0px;
    margin-left: 0;
    border-radius: 10px;
    display: flex;
}
.form-bottom{
    display: flex;
    margin-left: 0px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    gap: 20px;
}
.type-box{
    background-color: white;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
}
.type-box:hover{
    border: 2px solid rgb(27, 27, 27);
    background-color: rgb(202, 202, 202);
}

.type-box > img {
    width: 33px;
    height: 33px;

}
.type-container{
    display: flex;
    gap: 30px;
    margin-left: 0;
    justify-content: center;
    margin-top: 25px;
}
@media (max-width: 1024px) {
    .container{
        height: 970px;
    }
    .cadastro-box{
        width: 900px;
        height: 900px;
        margin-top: 25px;
    }
    .login-page{
        width: 160px;
        height: 50px;
        margin-left: 45px;
        font-size: 18px;
    }
    .cadastro-page{ 
        width: 160px;
        height: 50px;
        font-size: 20px;
    }
    #form-cadast{
        margin-left: 400px;
        margin-top: 45px;
    }
    
    .img-form{
        height: 600px;
        width: 600px;
        margin-left: -135px;
        margin-top: 160px;
    }
    
    .text-sup > h1{
       margin-top: 34px;
        font-size: 18px;
       
    }
    .text-sup > a > h2{
        margin: 0;
        margin-top: 33px;
        font-size: 20px;
        margin-left: 10px;
    }

}
@media (max-width: 768px) {
    .img-form{
        display: none;
    }
    .container{
        height: 1000px;
    }
    .cadastro-box{
        width: 620px;
        height: 930px;
    }
    .login-page{
        width: 160px;
        height: 50px;
        margin-left: 235px;
        font-size: 18px;
    }
    #form-cadast{
        margin-left: 0px;
        margin-top: 45px;
    }
    
    .img-form{
        height: 600px;
        width: 600px;
        margin-left: -135px;
        margin-top: 160px;
    }
    
    .text-sup > h1{
       display: none;
    }
    .text-sup > a > h2{
        display: none;
    }
}
@media (max-width: 480px) {
    .img-form{
        display: none;
    }
    .container{
        height: 970px;
    }
    .cadastro-box{
        width: 420px;
        height: 910px;
    }
    .text-sup{
        margin-left: 50px;
    }
    .login-page{
        width: 160px;
        height: 50px;
        margin-left: 0;
        font-size: 18px;
    }
    #form-cadast{
        margin-left: 0px;
        margin-top: 45px;
    }
    
    .img-form{
        height: 600px;
        width: 600px;
        margin-left: -135px;
        margin-top: 160px;
    }
    
    .text-sup > h1{
       display: none;
    }
    .text-sup > a > h2{
        display: none;
    }
}
@media (max-width: 425px) {
    .img-form{
        display: none;
    }
    .container{
        height: 970px;
    }
    .cadastro-box{
        width: 380px;
        height: 910px;
    }
    .text-sup{
        margin-left: 25px;
    }
    #form-cadast > input{
        transform: scale(0.9);
    }
    #form-cadast > button{
        transform: scale(0.9);
    }
    .form-bottom{
        transform: scale(0.9);
    }
    .type-box{
        transform: scale(0.9);
    }
    .type-box:hover{
        transform: scale(1.0);
    }

    .login-page{
        width: 160px;
        height: 50px;
        margin-left: 0;
        font-size: 18px;
    }
    #form-cadast{
        margin-left: 0px;
        margin-top: 45px;
    }
    
    .img-form{
        height: 600px;
        width: 600px;
        margin-left: -135px;
        margin-top: 160px;
    }

}
@media (max-width: 375px) {
    .cadastro-box{
        transform: scale(0.9);
        margin-top: -20px;
    }
    .container{
        height: 880px;
    }
    }
    @media (max-width: 320px) {
        .cadastro-box{
            transform: scale(0.8);
            margin-top: -70px;
        }
        .container{
            height: 780px;
        }
}




